.navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  padding: 10px;
}

button {
  background-color: #d2b48c;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b08868;
}

button:active {
  background-color: #a07450;
}
