.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #f5f5dc;
  color: #6b4f36;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
}

.display {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  margin: 10px 5px;
  font-size: 24px;
}

p {
  font-size: 18px;
  margin: 10px 0;
}
