<div class="container">
  <h1>Modlitwa Różańcowa</h1>
  <div class="display">
    <h2>{{ getCurrentDisplay() }}</h2>
    <p *ngIf="currentCycleIndex === 0">
      Tajemnica na dziś: {{ rosaryService.getTodayMystery() }}
    </p>
    <p *ngIf="currentCycleIndex === 1 && currentPrayerIndex === 1">
      Tajemnica: {{ currentMysterySet[currentMysteryIndex] }} — Dziesiątka: {{ currentMysteryIndex + 1 }}
    </p>
  </div>
  <app-navigation
    (next)="next()"
    (previous)="previous()"
  ></app-navigation>
</div>
